# Google Analytics
NEXT_PUBLIC_GA_ID=G-4ZFEX1Y93F

# App URL (used for sitemap, robots.txt, metadata)
NEXT_PUBLIC_APP_URL=https://color-format-converter.tools.jagodana.com

# SKIP INFO VALIDATION
SKIP_PLACEHOLDER_CHECK=1
